<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.domain.User" >
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="BIRS" property="birs" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.domain.User" extends="BaseResultMap" >
    <result column="MESSAGE" property="message" jdbcType="CLOB" />
  </resultMap>
  <sql id="Blob_Column_List" >
    MESSAGE
  </sql>
  <insert id="insert" parameterType="com.domain.User" >
    insert into T_USERS (ID, NAME, SEX, 
      BIRS, MESSAGE)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{birs,jdbcType=TIMESTAMP}, #{message,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="com.domain.User" >
    insert into T_USERS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="birs != null" >
        BIRS,
      </if>
      <if test="message != null" >
        MESSAGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birs != null" >
        #{birs,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null" >
        #{message,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
</mapper>